<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partial/head") %>
     <title>about us</title>
</head>
<body>
    <header>
        <%- include("../partial/nav") %></br>
        <%- include("../partial/header") %>
    </header>
    <main class="container">
        <div class="col col-12">
            <h2>This is about page</h2>
            <p>this is about body</p>
        </div>
    </main>>
    <footer>
        <%- include("../partial/footer") %>
    </footer>
</body>
</html>